<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{ext/resources/css/ext-all.css}" rel="stylesheet" type="text/css"  />
    <script th:src="@{ext/adapter/ext/ext-base.js}" type="text/javascript"></script>
    <script th:src="@{ext/ext-all.js}" type="text/javascript"></script>
	<script  th:src="@{js/main.js}" type="text/javascript"></script>
</head>
<body>

</body>
</html>